#lobbyContainer {
  width: 90%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 50px;
}
#playerListContainer {
  width: 90%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startGameButton {
  position: absolute;
  top: 50px;
  right: 0;
}
#playerList {
  padding: 10px 20px;
}
