@import "./index.scss";

.stats {
    display: flex;
    overflow-y: auto;
    gap: 2rem;
    width: 100%;
    table {
        table-layout: fixed;

        tr {
            td {
                text-align: left;
                padding: 2px 10px;
            }
        }
    }

    ul {
        display: flex;
        gap: 2rem;
        width: 100%;
        flex-wrap: wrap; // Add flex-wrap property to wrap the list items

        li {
            border: 2px solid $light-grey;
            border-radius: 10px;
            padding: 10px 20px;
            display: inline-block;
            width: calc(30% - 2rem);
            text-align: left;
        }
    }
}
